<main>
    
    <div> 
        <h2>Users</h2><!--user詳細-->
        <% @users.each do |user| %>
            <p>image</p><br><%= image_tag user.get_profile_image(100,100) %>
            <p>name <br><%= user.name %></p><br><%= link_to "Show", user_path(user.id) %>
        <% end %>
    </div>
    
    <%= render 'user', book: @user %>
</main>