<% books.each do |book| %>
 <div>
  <%= link_to user_path(book.id) do %>
    <P><%= image_tag book.user.get_profile_image(100,100) %></P>
  <% end %>
     <h3>Title</h3><br>
        <%= link_to book.title, book_path(book.id) %></p>
     <h3>Opinion</h3><br>
        <%= book.body %>
 </div>
<% end %>