<html>
    <head>
        <body>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
            <header>
            <main>
                <h1>Book detail</h1>
                <%= render 'books_book', books: books %>
                <% if book.user == curent_user %>
                 <%= link_to "Destroy", book_path(book), method: :delete %>
                <% end %>
            </main>
            </header>
        </body>
    </head>
</html>